{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-parens":"off",
    "react/prefer-stateless-function": "none",
    "react/jsx-filename-extension": "none",
    "object-curly-newline":"off",
    "react/require-default-props": "none",
    "no-confusing-arrow":"off",
    "no-shadow":"off",
    "import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "no-tabs":"off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "Link" ],
        "specialLink": [ "to" ]
      }]
},
  "extends": [
    "prettier",
    "airbnb"
  ],
  "plugins": [
    "prettier"
  ]
}
